.todo-app {
  background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
  color: #1e272e;
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.add-todo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.Header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Header h2 {
  margin: 10px;
}

.add-todo input,
.add-todo button {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
}

.add-todo button {
  background-color: #0fbcf9;
  color: #1e272e;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-todo button:hover {
  background-color: #0a3d62;
}

.todo-task {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 15px;
  background-color: #f1f2f6;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  opacity: 0.9;
}

.todo-task:hover {
  transform: translateY(-3px);
}

.todo-task h3 {
  margin: 0;
  font-size: 18px;
}

.todo-task p {
  margin: 0;
  font-size: 14px;
  color: #777;
}

.todo-task button {
  margin-top: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* CSS for the 'complete' button */
.todo-task .complete-button {
  background-color: #2ecc72; /* Emerald */
  color: #1e272e; /* Dark Gray */
}

.todo-task .complete-button:hover {
  background-color: #27ae60; /* Nephritis */
}

/* CSS for the 'update' button */
.todo-task .update-button {
  background-color: #3498db; /* Peter river */
  color: #1e272e; /* Dark Gray */
}

.todo-task .update-button:hover {
  background-color: #2980b9; /* Belize hole */
}


.todo-task button:first-child {
  background-color: #2ecc72;
  color: #1e272e;
}

.todo-task button:first-child:hover {
  background-color: #27ae60;
}

.todo-task button:last-child {
  background-color: #e74c3c;
  color: #1e272e;
}

.todo-task button:last-child:hover {
  background-color: #c0392b;
}

.completed {
  text-decoration: line-through;
}

.theme-toggle-btn{
  margin-left: 400px;
  height: 40px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .add-todo input,
  .add-todo button {
    font-size: 14px;
    padding: 10px;
  }
  
  .todo-task h3 {
    font-size: 16px;
  }
  
  .todo-task p {
    font-size: 12px;
  }

  .Header {
    flex-direction: column;
    align-items: flex-start;
  }

  .Header h2 {
    margin-bottom: 10px;
  }

  .theme-toggle-btn {
    margin-left: 0;
    margin-top: 0;
  }
}

.dark-mode {
  --primary-color: #0d1117; /* Deep Blue */
  --secondary-color: #161b22; /* Dark Gray */
  --text-color: #ffffff; /* White */
  --button-color: #238636; /* Green */
  --button-hover-color: #2ea043; /* Light Green */
  --task-bg-color: var(--primary-color);
  --task-text-color: var(--text-color);
  --task-button-color: #d6dc1a; /* Red */
  --task-button-hover-color: #d22828; /* Bright Red */
  --completed-color: #f1c40f; /* Sunflower Yellow */
}


.dark-mode .todo-app {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.dark-mode .todo-task {
  background-color: var(--task-bg-color);
  color: var(--task-text-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.dark-mode .add-todo input,
.dark-mode .add-todo button {
  background-color: var(--button-color);
  color: var(--text-color);
  border-color: var(--button-color);
}

.dark-mode .add-todo button:hover {
  background-color: var(--button-hover-color);
}

.dark-mode .todo-task p {
  color: var(--completed-color);
}

.dark-mode .todo-task button {
  background-color: var(--task-button-color);
  color: var(--text-color);
}


.dark-mode .todo-task button:hover {
  background-color: var(--task-button-hover-color);
}

.dark-mode .completed {
  color: var(--completed-color);
}
